{% extends 'base.html' %}

{% block title %}Login | page {% endblock %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        .login-container {
            background: white;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 40px;
            width: 400px;
            text-align: center;
            margin: 50px auto;
        }

        .login-container h2 {
            margin-bottom: 20px;
            color: #333;
        }

        .login-container input[type="text"],
        .login-container input[type="password"] {
            width: 100%;
            padding: 15px;
            margin: 15px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        .login-container button {
            width: 100%;
            padding: 15px;
            background-color: #6A5ACD;
            border: none;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .login-container button:hover {
            background-color: #e04e4e;
        }

        .login-container a {
            display: block;
            margin-top: 10px;
            color: #007bff;
            text-decoration: none;
        }

        .login-container a:hover {
            text-decoration: underline;
        }

        .forgot-password {
            margin-top: 5px;
        }
    </style>

    <div class="login-container">
        {% if msg %}
            <p>{{msg}}</p>
        {% endif %}
        <h2>Login</h2>
        <form action="/login" method="post">
            <input type="text" placeholder="Email ID/Mobile No." name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <a href="#" class="forgot-password">Forgot Password?</a>
        <a href="/signup">Don't have an account? Sign Up</a> <!-- Link to Sign Up Page -->
    </div>
{% endblock %}
